<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OSOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='diseñoReseña.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            {% set link = url_for('inicio') %}
                {% if 'rol' in session %}
                    {% if session['rol'] == 'Administrador' %}
                    {% set link = url_for('admin_dashboard') %}
                    {% elif session['rol'] == 'Estudiante' %}
                {% set link = url_for('estudiante_dashboard') %}
                {% endif %}
            {% endif %}

        <a href="{{ link }}" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <h1 style="margin-right: 10px;">OSOS</h1>
            <img src="{{ url_for('static', filename='ImagenesOSOS/oso.png') }}" alt="Logo OSOS" style="height: 50px;">
        </a>
</div>

        
        <div class="menu">
            <nav>
                <ul class="nav-menu">
                    <li>
                        {% if 'rol' in session %}
                            {% if session['rol'] == 'Administrador' %}
                            <a class="menu-button" href="{{ url_for('admin_dashboard') }}">Inicio</a>
                            {% elif session['rol'] == 'Estudiante' %}
                            <a class="menu-button" href="{{ url_for('estudiante_dashboard') }}">Inicio</a>
                        {% endif %}
                        {% else %}
                        <a class="menu-button" href="{{ url_for('inicio') }}">Inicio</a>
                        {% endif %}
                    </li>

                    <li class="dropdown">
                        <a class="menu-button" href="#">Buscar reseñas</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Por maestro</a>
                            <a href="{{ url_for('mostrar_materias') }}">Por materia</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="menu-button" href="{{ url_for('agregar_resena') }}">Agregar reseña</a>
                    </li>
                    {% if rol == 'Administrador' %}
                        <li class="dropdown">
                            <a class="menu-button" href="{{ url_for('agregar_admi') }}">+Admi</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if 'usuario' in session and 'rol' in session %}
            <div class="user-info">
                <ul>
                    <li><p>{{ session['rol'] }}</p></li>
                    <li><p>{{ session['usuario'] }}</p></li>
                    <li class="logout-item"><a href="{{ url_for('logout') }}" class="login-btn">Cerrar sesión</a></li>
                </ul>
            </div>
            
            {% else %}
                <a href="{{ url_for('inicio_sesion') }}" class="login-btn">Iniciar sesión</a>
            {% endif %}
    </header>

    <main>
        <form method="POST" action="/guardar-resena" class="formulario">
            <label for="materia">Selecciona una materia:</label>
            <select name="materia" id="materia" required>
            <option value="">-- Elige una materia --</option>
            {% for materia in materias %}
            <option value="{{ materia.idMateria }}">{{ materia.nombreMateria }}</option>
            {% endfor %}
            </select>

    <label for="maestro">Selecciona un maestro:</label>
    <select name="maestro" id="maestro" required>
        <option value="">-- Elige un maestro --</option>
    </select>

    <label for="comentario">Comentario:</label>
    <textarea name="comentario" required></textarea>
    <label for="calificacion">Calificación (1 a 5):</label>
    <input type="number" name="calificacion" min="1" max="5" required>

    <button type="submit">Enviar reseña</button>
    </form>
    </main>
</body>
    <script src="{{ url_for('static', filename='menu.js') }}"></script>
</html>