<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OSOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <div class="logo">
    {% set link = url_for('inicio') %}
                {% if 'rol' in session %}
                    {% if session['rol'] == 'Administrador' %}
                    {% set link = url_for('admin_dashboard') %}
                    {% elif session['rol'] == 'Estudiante' %}
                {% set link = url_for('estudiante_dashboard') %}
                {% endif %}
            {% endif %}

        <a href="{{ link }}" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <h1 style="margin-right: 10px;">OSOS</h1>
            <img src="{{ url_for('static', filename='ImagenesOSOS/oso.png') }}" alt="Logo OSOS" style="height: 50px;">
        </a>
</div>

        
        <div class="menu">
            <nav>
                <ul class="nav-menu">
                    <li>
                        {% if 'rol' in session %}
                            {% if session['rol'] == 'Administrador' %}
                            <a class="menu-button" href="{{ url_for('admin_dashboard') }}">Inicio</a>
                            {% elif session['rol'] == 'Estudiante' %}
                            <a class="menu-button" href="{{ url_for('estudiante_dashboard') }}">Inicio</a>
                        {% endif %}
                        {% else %}
                        <a class="menu-button" href="{{ url_for('inicio') }}">Inicio</a>
                        {% endif %}
                    </li>

                    <li class="dropdown">
                        <a class="menu-button" href="#">Buscar reseñas</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Por maestro</a>
                            <a href="{{ url_for('mostrar_materias') }}">Por materia</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        {% if 'rol' in session %}
                            <a class="menu-button" href="{{ url_for('agregar_resena') }}">Agregar reseña</a>
                        {% else %}
                            <a class="menu-button" href="#">Agregar reseña</a>
                            <div class="submenu">
                            <p>Necesitas iniciar sesión</p>
                            </div>
                        {% endif %}
                    </li>
                    {% if rol == 'Administrador' %}
<li class="dropdown">
    <a class="menu-button" href="{{ url_for('agregar_admi') }}">+Admi</a>
</li>
{% endif %}
                </ul>
            </nav>
        </div>
        
    </header>

    <main>
        <h1 class="titlereseña">Reseñas por maestro</h1>
    <div class="contenedor-botones"> <!-- Nuevo div contenedor -->
        <ul class="lista-maestros">
            {% for maestro in maestros %}
                <li><a class="boton-minimalista" href="{{ url_for('ver_resenas_maestro', nombre=maestro) }}">{{ maestro }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    </main>
</body>
</html>
