<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OSOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <div class="logo">
    {% set link = url_for('inicio') %}
                {% if 'rol' in session %}
                    {% if session['rol'] == 'Administrador' %}
                    {% set link = url_for('admin_dashboard') %}
                    {% elif session['rol'] == 'Estudiante' %}
                {% set link = url_for('estudiante_dashboard') %}
                {% endif %}
            {% endif %}

        <a href="{{ link }}" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <h1 style="margin-right: 10px;">OSOS</h1>
            <img src="{{ url_for('static', filename='ImagenesOSOS/oso.png') }}" alt="Logo OSOS" style="height: 50px;">
        </a>
</div>

        
        <div class="menu">
            <nav>
                <ul class="nav-menu">
                    <li>
                        {% if 'rol' in session %}
                            {% if session['rol'] == 'Administrador' %}
                            <a class="menu-button" href="{{ url_for('admin_dashboard') }}">Inicio</a>
                            {% elif session['rol'] == 'Estudiante' %}
                            <a class="menu-button" href="{{ url_for('estudiante_dashboard') }}">Inicio</a>
                        {% endif %}
                        {% else %}
                        <a class="menu-button" href="{{ url_for('inicio') }}">Inicio</a>
                        {% endif %}
                    </li>

                    <li class="dropdown">
                        <a class="menu-button" href="#">Buscar reseñas</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Por maestro</a>
                            <a href="{{ url_for('mostrar_materias') }}">Por materia</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="menu-button" href="{{ url_for('agregar_resena') }}">Agregar reseña</a>
                    </li>
                    <li class="dropdown">
                        <a class="menu-button" href="#">Eliminar</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Maestros</a>
                            <a href="{{ url_for('mostrar_materias') }}">Materias</a>
                        </div>
                    </li>
    
                </ul>
            </nav>
        </div>
        {% if 'usuario' in session and 'rol' in session %}
            <div class="user-info">
                <ul>
                    <li><p>{{ session['rol'] }}</p></li>
                    <li><p>{{ session['usuario'] }}</p></li>
                    <li class="logout-item"><a href="{{ url_for('logout') }}" class="login-btn">Cerrar sesión</a></li>
                </ul>
            </div>
            
            {% else %}
                <a href="{{ url_for('inicio_sesion') }}" class="login-btn">Iniciar sesión</a>
            {% endif %}
    </header>

    <main>
        <h2 class="eslogan">Estas en pagina admi</h2>
        <section class="resenas">
            <h3>Buro de reseñas relevantes</h3>
            <div class="tarjeta-resena">
                <div class="resena-usuario">
                    <span class="usuario">👤 riveraa</span>
                    <span class="materia">Materia: Matematicas 2</span>
                    <span class="profesor">Profesor: Pancho Lopez Perez</span>
                </div>
                <p class="texto-resena">En este apartado ira la reseña agregada por cada usuario............</p>
                <div class="interaccion">
                    <span class="likes">👍 10</span>
                    <span class="calificacion">Calificación:
                        <span class="estrellas">★★★★★</span>
                    </span>
                    <span class="alerta">❗</span>
                </div>
            </div>
        </section>
    </main>
</body>
</html>