<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Reseñas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>OSOS</h1>
            <img src="{{ url_for('static', filename='ImagenesOSOS/oso.png') }}" alt="Logo OSOS" />
        </div>
        
        <div class="menu">
            <nav>
                <ul class="nav-menu">
                    <li><a class="menu-button" href="{{ url_for('inicio') }}">Inicio</a></li>

                    <li class="dropdown">
                        <a class="menu-button" href="#">Buscar reseñas</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Por maestro</a>
                            <a href="{{ url_for('mostrar_materias') }}">Por materia</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="menu-button" href="#">Agregar reseña</a>
                        <div class="submenu">
                            <a href="{{ url_for('mostrar_maestros') }}">Por maestro</a>
                            <a href="{{ url_for('mostrar_materias') }}">Por materia</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
        <a href="{{ url_for('inicio_sesion') }}" class="login-btn">Iniciar sesión</a>
    </header>
    <main>
        <h2>Reseñas para la materia: {{ nombre_materia }}</h2>

        {% if reseñas %}
            <ul>
                {% for reseña in reseñas %}
                    <li>
                        <strong>Profesor:</strong> {{ reseña.nombreMaestro }}<br/>
                        <strong>Usuario:</strong> {{ reseña.NomUsuario }}<br/>
                        <strong>Calificación:</strong> {{ reseña.calificacion }} / 5<br/>
                        <p>{{ reseña.comentario }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay reseñas para esta materia.</p>
        {% endif %}
    </main>
    
</body>
</html>